<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/static/css/styles.css' />
  </head>

  <body>

    <div class='navigation'>
      <nav>
        <img src='/static/images/logo.jpg' />
        <ul>
          <!-- Guest users and Logged users -->
          <li><a href='/'>Home</a></li>
          <li><a href='/catalog'>Blogs</a></li>
          <!--For guest users-->
          {{#unless username}}
            <li><a href='/auth/login'>Login</a></li>
            <li><a href='/auth/register'>Register</a></li>
          {{/unless}}
          <!--For loggin users-->
          {{#if username}}
          <li><a href='#'>Profile</a></li>
          <li><a href='/create'>Create Blog</a></li>
          <li><a href='/auth/logout'>Logout</a></li>
           {{/if}}
        </ul>
      </nav>
    </div>

{{!--     {{#if errors}}
      <div>
       
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/if}}
 --}}
    {{#if errors}}
        <div>
           {{#each errors}}
            <div class="errorContainer">
                <p>{{this}}</p>
                {{/each}}
            </div>
        </div> 
        {{/if}}

    {{{body}}}

    <footer>Back-End 2022</footer>
  </body>

</html>